* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

app-menu {
  height: 100vh;
  width: 170px;
  position: fixed;
}

::selection {
  background-color: rgb(31, 248, 230);
}

.menuActivo {
  color: white!important;
}

:root {
  --azulOscuro: #0032a0;
  --gradientePrincipal: linear-gradient(to right, #61d5ff 0%, #00d9e2 40%, #00ecd8 100%);
  --morado: rgb(145, 77, 233);
}

body {
  width: 100%;
  height: 100vh;
}

.header {
  height: 600px;
  position: relative;
}

.headers {
  width: 100%;
  height: 100%;
  transition: 1s;
  position: absolute;
  background-attachment: fixed;
}

.header1 {
  background: url(../../assets/img/header.jpg) center / cover;
  background-attachment: fixed;
}

.header2 {
  background: url(../../assets/img/header2.jpg) center / cover;
  background-attachment: fixed;
}

.header3 {
  background: url(../../assets/img/header3.jpg) center / cover;
  background-attachment: fixed;
}

.menu-container {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  transition: .4s;
  z-index: 1;
  align-items: center;
}
.menu-container .icon {
  cursor: pointer;
}
.menu-container .abrirMenu {
  margin-right: 30px;
  font-size: 30px;
  display: none;
}

.menu-container .abrirMenu fa-icon {
  cursor: pointer;
  color: rgb(240, 188, 18);
}

.menu-container .menuExtra .cerrarMenu {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  display: none;
  color: white;
}

.menu-container .menuExtra .cerrarMenu fa-icon{
  cursor: pointer;
}

.menu-container .menuExtra {
  width: max-content;
  transition: .5s;
}

.menu-container .menuExtra .menu {
  padding-top: 80px;
  padding-bottom: 20px;
  margin-right: 30px;
  text-align: right;
  transition: .4s;
}

.menu-container .menuExtra .menu ul {
  list-style: none;
}

.menu-container .menuExtra .menu ul li {
  display: inline;
  vertical-align: middle;
}

.menu-container .menuExtra .menu ul li fa-icon{
  font-size: 2em;
  transition: .1s;
}

.menu-container .menuExtra .menu ul li .cita {
  background: var(--gradientePrincipal);
  background-size: 200%;
  border-radius: 100px;
  color: white;
  font-size: 1em;
  margin: 0 10px 0 20px;
  padding: 14px 25px;
  transition: .5s;
}

.menu-container .menuExtra .menu ul li .cita:hover {
  background-position: right;
}

.menu-container .menuExtra .menu ul li a {
  color: rgb(65, 69, 73);
  font-size: 1em;
  font-weight: bold;
  padding: 17px 25px;
  text-decoration: none;
  transition: .3s;
}

.menu-container .menuExtra .menu ul li:hover a {
  color: rgb(125, 126, 128);
}

.extra {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  display: flex;
  justify-content: right;
  transition: .4s;
}

.extra .covid {
  display: inline;
  width: 150px;
  background-color: var(--azulOscuro);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px;
  color: #FFF;
  cursor: pointer;
}

.extra .covid fa-icon{
  font-size: 30px;
}

.extra .covid h1 {
  font-size: 15px;
  font-weight: 500;
  font-family: 'Bree Serif', serif;
}

.contacto-header {
  display: flex;
  background: linear-gradient(to right, #00b4f6 0%, #00d9e2 66%, #00ecd8 100%);
  height: 50px;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  width: 85%;
}

.contacto-header h1,
.contacto-header a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Bree Serif', serif;
  font-weight: 600;
  transition: .4s;
}

.contacto-header h1 {
  font-weight: 500;
  white-space: pre-wrap;
}

.contacto-header a:hover {
  color: rgb(143, 121, 121);
}

.logo-container {
  /* padding-top: 30px; */
  margin-left: 100px;
  position: absolute;
  height: 80%;
  left: 0;
  transition: .4s;
  display: flex;
  align-items: center;
}
.logo-container .logoName{
  margin-left: 20px;
  color: #fff;
  transition: .4s;
  font-size: 1.7em;
}
.logo-container .logoName p, .logo-container .logoName span {
  font-family: 'Sansita', sans-serif;
  font-weight: bold;
}
.logo-container .logoName span {
  font-weight: normal;
  font-style: italic;
}
.logo-container .logo {
  height: 100%;
}
.logo-container .logo img {
  /* width: 300px; */
  height: 100%;
  transition: .6s;
}
.menuContainer-on .logo-container .logoName{
  color: #0032a0;
}
/* .logo-container .logo img.active {
  width: 150px;
} */

.menuContainer-on {
  background-color: #fff;
  padding: 5px 0;
  border-bottom: 2px solid #00ecd8;
}

.menu-container .menuExtra .menu.menu-on {
  padding-top: 20px;
}

.extra-on {
  top: -100%;
}

/* .logo-on {
  padding-top: 20px;
} */

.menu-container .menuExtra.menuNoVisible {
  transform: initial;
}

.especialidades-container h1 {
  text-align: center;
  font-size: 2em;
  margin: 40px 0;
  color: rgb(19, 191, 243);
  font-family: 'Poppins', sans-serif;
}

.especialidades-container .especialidades {
  display: flex;
  border-top: 1px solid var(--azulOscuro);
}

.especialidades-container .especialidades-card {
  width: 30%;
  height: 400px;
  background-color: var(--azulOscuro);
  border-left: solid white .5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: .4s;
}

.especialidades-container .especialidades-card:first-of-type {
  border: none;
}

.especialidades-container .especialidades-card>a {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 40px 20px 60px;
}

.especialidades-container .especialidades-card .subtitulo h2 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: .8em;
  font-family: 'Gotham-Medium', sans-serif;
  letter-spacing: 3px;
  transition: .6s;
}

.especialidades-container .especialidades-card .subtitulo h2::after {
  content: '';
  display: inline-block;
  flex-grow: 1;
  height: 1px;
  right: 100%;
  margin-left: 20px;
  background-color: #fff;
  transition: .6s;
}

.especialidades-container .especialidades-card .enlace {
  width: 100%;
  text-align: right;
}

.especialidades-container .especialidades-card .enlace {
  color: #fff;
  font-size: 13px;
  letter-spacing: 2px;
}

.especialidades-container .central h1 {
  color: white;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  margin-top: 40px;
  font-size: 1.4em;
  transition: .6s;
}

.especialidades-container figure {
  height: 100px;
  display: flex;
  align-items: flex-end;
}

.especialidades-container img {
  width: 60px;
}

.especialidades-container .especialidades-card:hover {
  background-color: #fff;
}

.especialidades-container .especialidades-card:hover h2,
.especialidades-container .especialidades-card:hover .central h1 {
  color: var(--azulOscuro);
}

.especialidades-container .especialidades-card:hover .subtitulo h2::after {
  background-color: var(--azulOscuro);
}


.especialidades-container .especialidades-card:hover .enlace {
  color: #ccc;
}


.especialidades-container>a {
  text-decoration: none;
}


.especialidades-container .masEspe {
  text-align: center;
  font-size: .7em;
  background-color: rgb(18, 174, 246);
  padding: 20px 0;
  color: white;
}


.especialidades-container .masEspe h2 {
  white-space: pre-wrap;
  transition: .4s;
}


.especialidades-container .masEspe:hover h2 {
  color: #ccc;
}


.staff-container {
  line-height: 0;
}


.staff-container>h1 {
  text-align: center;
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
  color: var(--morado);
  margin: 40px 0;
}


.staff-container .staff-group {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 360px;
  /* position    : relative; */
}


.staff-container .staff-group .responStaff {
  display: flex;
  width: 50%;
}


.staff-container .staff-group .responStaff > a{
  width: 50%;
}

.staff-container .staff-group .staff {
  position: relative;
  overflow: hidden;
  height: 100%;
}


.staff-container .staff-group .staff::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  opacity: .4;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--gradientePrincipal);
  transition: .5s;
}


.staff-container .staff-group .staff:hover::after {
  left: 0;
}


.staff-container .staff-group .info {
  position: absolute;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
  margin: 0 5px;
  z-index: 100;
  font-family: 'Gotham-Medium', sans-serif;
  transition: .3s;
  opacity: 0;
  line-height: initial;
}

.staff-container .staff-group figure {
  height: 100%;
}

.staff-container .staff-group figure img {
  width: 100%;
  height: 100%;
}


.staff-container .staff .info .arriba h2 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: .8em;
  letter-spacing: 3px;
  transition: .6s;
  color: #FFF;
}


.staff-container .staff .info .arriba h2::after {
  content: '';
  display: inline-block;
  flex-grow: .1;
  height: 1px;
  right: 100%;
  margin-left: 20px;
  background-color: #fff;
  transition: 1s;
}


.staff-container .staff .info .medio h1 {
  font-size: 2.2em;
  color: var(--azulOscuro);
}


.staff-container .staff .info .medio p {
  color: white;
}


.staff-container .staff .info .abajo {
  text-align: right;
  color: #ccc;
  font-size: 20px;
}


.staff-container .staff-group .staff:hover .info {
  margin: 0 25px;
  opacity: 1;
}


.staff-container .staff-group .staff:hover .arriba h2::after {
  flex-grow: .9;
}


.staff-container .masDoc {
  text-align: center;
  background-color: var(--morado);
  color: white;
  line-height: initial;
  padding: 20px 0;
}


.staff-container .masDoc h1 {
  white-space: pre-wrap;
  font-size: 16px;
}


.footer-container {
  background-color: #00b4f6;
}


.footer-main {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  padding: 20px 40px;
  height: 250px;
  margin: auto;
}


.footer-left {
  align-self: center;
}


.footer-left p {
  font-family: 'Bree Serif', serif;
}


.footer-left img {
  width: 170px;
  margin-bottom: 40px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}


.footer-title {
  font-weight: bold;
  margin-bottom: 10px;
}


.footer-info {
  margin: 0 40px;
}


.footer-info ul {
  list-style: none;
}


.footer-info li {
  margin-bottom: 10px;
}


.footer-info li a {
  text-decoration: none;
  color: white;
  /* color       : rgb(43, 43, 43); */
  font-family: 'Bree Serif', serif;
}


.footer-info li a:hover {
  color: rgb(43, 43, 43);
}


.footer-contact {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.footer-contact form {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 20px; */
}


.footer-contact form input {
  margin-bottom: 20px;
  padding: 5px;
  border: none;
  outline: none;
}


.footer-contact form .input {
  width: 300px;
  /* border    : none; */
  border-radius: 5px;
  height: 35px;
  padding-left: 10px;
  font-family: 'Bree-serif', serif;
}


.footer-contact .button {
  width: 100px;
  background-color: #0032a0;
  border: 3px solid #0032a0;
  /* border       : none; */
  cursor: pointer;
  border-radius: 100px;
  color: white;
  font-weight: 600;
  height: 35px;
}


.footer-contact .button:hover {
  background-color: #fff;
  color: #0032a0;
}


.footer-container h2 {
  font-family: 'Poppins', sans-serif;
}


.respoFooter {
  display: flex;
}


@media screen and (max-width: 1224px) {
  .logo-container {
    margin-left: 20px;
  }

  .extra {
    width: 60%;
  }

  .menu-container .menuExtra .menu ul li a {
    padding: 17px 15px;
  }

  .menu-container .menuExtra .menu ul li a.cita {
    margin: 0;
  }

  .especialidades-container h1 {
    margin: 20px 0;
    font-size: 1.6em;
  }

  .especialidades-container .especialidades-card {
    height: 270px;
  }

  .especialidades-container .especialidades-card>a {
    padding: 20px;
  }

  .especialidades-container .especialidades-card .subtitulo h2 {
    letter-spacing: 2px;
    font-size: 10px;
  }

  .especialidades-container .central h1 {
    font-size: 1.2em;
    margin-top: 20px;
  }

  .especialidades-container .especialidades-card .enlace {
    font-size: 11px;
  }

  .staff-container>h1 {
    font-size: 1.6em;
  }
}


@media screen and (max-width: 1000px) {
  .logo-container {
    margin-left: 50px;
  }

  /* .logo-container .logo img {
    width: 230px;
  } */

  .menu-container {
    height: 70px;
    align-items: center;
  }

  .menu-container .abrirMenu {
    display: block;
  }

  .menu-container .menuExtra .cerrarMenu {
    display: flex;
  }

  .menu-container .menuExtra {
    width: 100%;
    position: fixed;
    background: #1BD3DA;
    bottom: 0;
    top: 0;
    width: 200px;
    transform: translateX(100%);
    z-index: 10000;
    overflow: auto;
  }

  .menu-container .menuExtra .extra {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .menu-container .menuExtra .extra>div {
    width: 100%;
  }

  .menu-container .menuExtra .extra .covid {
    height: 50px;
  }

  .contacto-header {
    flex-direction: column;
    text-align: center;
    height: 100px;
    background: transparent;
    color: rgb(47, 49, 48);
  }

  .menu-container .menuExtra .menu {
    padding: 0;
    margin: 0;
  }

  .menu-container .menuExtra .menu ul li {
    display: block;
    padding: 0;
    padding: 40px 20px;
    text-align: center;
  }

  .menu-container .menuExtra .menu ul li a {
    transition: .1s;
  }

  .menu-container .menuExtra .menu ul li:hover {
    background-color: white;
  }

  .menu-container .menuExtra .menu ul li:hover a {
    color: rgb(100, 92, 92);
  }

  .menu-container .menuExtra .menu ul li a {
    padding: 0;
    color: white;
  }

  .menu-container .menuExtra .menu ul li .cita {
    background: transparent;
    padding: 0;
  }

  .extra-on {
    top: 0;
  }

  .menu-container .menuExtra .menu.menu-on {
    padding-top: 0;
  }

  .logo-on {
    padding-top: 0;
  }

  .menu-container .menuExtra.menuNoVisible {
    transform: translateX(0);
  }

  .especialidades-container .especialidades {
    flex-direction: column;
  }

  .especialidades-container .especialidades-card {
    width: 100%;
    border: none;
    height: 150px;
  }

  .especialidades-container .especialidades-card .central {
    display: flex;
    align-items: center;
    vertical-align: middle;
  }

  .especialidades-container .especialidades-card .central figure {
    height: initial;
  }

  .especialidades-container .especialidades-card .central h1 {
    margin-top: 0;
    margin-left: 40px;
  }

  .footer-main {
    flex-direction: column-reverse;
    height: auto;
    max-width: 800px;
  }

  .respoFooter {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
  }

  .footer-left {
    display: flex;
    justify-content: space-around;
  }

  .footer-info {
    float: left;
  }

  .footer-left img {
    margin-bottom: 0;
  }

  .respoFooter,
  .footer-left {
    width: 100%;
    align-items: center;
  }

  .staff-container .staff-group {
    flex-direction: column;
    align-items: center;
  }

  .staff-container .staff-group a {
    width: 50%;
  }

  .staff-container .staff-group .staff::after {
    left: 0;
  }

  .staff-container .staff-group .info {
    opacity: 1;
    margin: 0 25px;
  }

  .staff-container .staff-group .info {
    z-index: initial;
  }

  .staff-container .staff-group .staff::after {
    display: none;
  }
}


@media screen and (max-width: 700px) {
  .respoFooter,
  .footer-left {
    flex-direction: column;
  }

  .respoFooter .footer-info {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .footer-left img {
    margin-bottom: 20px;
  }

  .staff-container .staff-group .info {
    margin: 0 15px;
  }

  .staff-container .staff-group .info .arriba h2 {
    font-size: .6em;
  }

  .staff-container .staff-group .info .medio h1 {
    font-size: 1.5em;
  }

  .staff-container .staff-group .info .medio p {
    font-size: .9em;
  }

  .staff-container .staff-group .info .abajo p {
    font-size: .8em;
    margin-right: 10px;
  }

  .staff-container .staff-group .staff:hover .info {
    margin: 0 15px;
  }

  .header {
    height: 500px;
  }

  .footer-info,
  .footer-contact {
    text-align: center;
  }

  .footer-contact form {
    /* justify-content: center; */
    align-items: center;
  }

  .footer-left p {
    font-size: .8em;
  }
}


@media screen and (max-width: 420px) {
  .logo-container {
    padding-top: 0;
    margin-left: 20px;
  }

  /* .logo-container .logo img {
    width: 150px;
  } */

  .staff-container .staff-group .info {
    margin: 0 10px;
  }

  .staff-container .staff-group .info .arriba h2 {
    font-size: .5em;
  }

  .staff-container .staff-group .info .medio h1 {
    font-size: 1.2em;
  }

  .staff-container .staff-group .info .medio p {
    font-size: .7em;
  }

  .staff-container .staff-group .info .abajo p {
    font-size: .6em;
    margin-right: 10px;
  }

  .staff-container .staff-group .staff:hover .info {
    margin: 0 10px;
  }

  .header {
    height: 400px;
  }

}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

