.menu-clinica-container {
  width: 230px;
  background: linear-gradient(to right bottom, #aff0f5 0%, #def4f8 40%);
  /* height: 100vh; */
  transition: .2s;
  overflow: hidden;

}
.menu-clinica-container .logoMenu {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  transition: .2s;
}
.menu-clinica-container .logoMenu .logo {
  height: 60%;
  transition: .2s;
}
.menu-clinica-container .logoMenu .logo img {
  height: 100%;
  transition: .2s;
}

.menu-clinica-container .logoName{
  color: rgb(78, 102, 243);
  width: min-content;
  font-size: 1.4em;
  text-align: center;
}
.menu-clinica-container .logoName p, .menu-clinica-container .logoName span {
  font-family: 'Sansita', sans-serif;
  font-weight: bold;
}
.menu-clinica-container .logoName span {
  font-weight: normal;
  font-style: italic;
}
.menu-clinica-container .menu-clinica {
  height: calc(100vh - 100px);
}

.menu-clinica-container .menu-clinica ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  list-style: none;
}

.menu-clinica-container .menu-clinica ul a {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: 2em;
  color: rgb(62, 63, 63);
  transition: 0.3s;
  text-decoration: none;
}
.menu-clinica-container .menu-clinica ul a .icon {
  margin: 0 20px;
  width: 30px;
}
.menu-clinica-container .menu-clinica ul a:hover {
  color: rgb(116, 114, 114);
  background-color: #fff;
}

.menuActive {
  color: white;
}
.menu-clinica-container .menu-clinica ul p {
  font-size: .5em;
  height: fit-content;
  text-align: left;
  transition: .3s;
  white-space: nowrap;
}

.menu-clinica-container.small {
  width: 70px;
}
.menu-clinica-container.small .logoMenu {
  /* overflow: hidden; */

}
.menu-clinica-container.small .logoMenu .logoName {
  display: none;
  /* visibility: hidden; */
}
.menu-clinica-container.small .menu-clinica ul p{
  /* display: none; */
}